.container{
    margin-top: 8%;
    margin-bottom: 8%;
    width: 400px;
    border:2px solid black;
    padding: 20px;
}
h2, label, span{
    color: rgba(0, 0, 0, 0.831);
}
body{
    background-color: rgb(234, 209, 192);
    min-height: 100vh;
}
.btngroup .btngroup{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.btngroup h5{
    text-align: center;
}